# Churn EDA

## Import Data

In [1]:
import os
import duckdb

In [2]:
db_path = os.path.join('../' * 3, 'data','zindi_202311_01.db')
assert os.path.exists(db_path)
db_connection = duckdb.connect(db_path)

## Variable Description

In [3]:
variable_description = db_connection.execute("from variable_description").df()
print(variable_description.info())
variable_description

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Variable Definitions  19 non-null     object
 1   Unnamed: 2            19 non-null     object
dtypes: object(2)
memory usage: 452.0+ bytes
None

   Variable Definitions                                         Unnamed: 2
0                  None  The churn dataset includes 19 variables includ...
1                    ID                                               None
2                region                        the location of each client
3                tenure                            duration in the network
4                Amount                                      top-up amount
5      refill_frequency             Â number of times the customer refilled
6               revenue                     monthly revenue of each client
7          arpu_segment                           revenue over 90 days / 3
8             frequency     number of times the client has made an revenue
9           data_volume                              number of connections
10               on_net                                call within network
11            Procuct_1                                  call to Procuct_1
12            Procuct_2                                  call to Procuct_2
13                zone1                                     call to zones1
14                zone2                                     call to zones2
15                  mrg                              a client who is going
16           regularity   number of times the client is active for 90 days
17             top_pack                              the most active packs
18        freq_top_pack  number of times the client has activated the t...
19               Target                                variable to predict

## Test Data

In [4]:
test_data = db_connection.execute("from test_data").df()
print(test_data.info())
test_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380127 entries, 0 to 380126
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                380127 non-null  object
 1   region            230399 non-null  object
 2   tenure            380127 non-null  object
 3   Amount            247072 non-null  float64
 4   refill_frequency  247072 non-null  float64
 5   revenue           252754 non-null  float64
 6   arpu_segment      252754 non-null  float64
 7   frequency         252754 non-null  float64
 8   data_volume       193087 non-null  float64
 9   on_net            241613 non-null  float64
 10  Procuct_1         222897 non-null  float64
 11  Procuct_2         153126 non-null  float64
 12  zone1             29861 non-null   float64
 13  zone2             24076 non-null   float64
 14  mrg               380127 non-null  object
 15  regularity        380127 non-null  int64
 16  top_pack          221348 non-null  object
 17  freq_top_pack     221348 non-null  float64
dtypes: float64(12), int64(1), object(5)
memory usage: 52.2+ MB
None

,ID,region,tenure,Amount,refill_frequency,revenue,arpu_segment,frequency,data_volume,on_net,Procuct_1,Procuct_2,zone1,zone2,mrg,regularity,top_pack,freq_top_pack
0,ID_LZ8K373W7EWV,Droidika,K > 24 month,2008.55,16.0,2010.26,670.09,17.0,10.0,247.0,17.0,70.0,NaN,NaN,NO,59,On net 200F=Unlimited _call24H,11.0
1,ID_04KNWHGV5783,Luminous,K > 24 month,2991.45,14.0,2991.45,997.01,17.0,NaN,99.0,100.0,84.0,NaN,NaN,NO,49,All-net 500F=2000F;5d,12.0
2,ID_CXS07G6VLB2U,Astral,K > 24 month,1581.20,8.0,1578.21,526.07,8.0,436.0,47.0,113.0,5.0,NaN,NaN,NO,13,Jokko_Daily,6.0
3,ID_N3NFJJVHS25K,Eclipsara,K > 24 month,2564.10,12.0,2777.78,926.07,13.0,0.0,135.0,181.0,NaN,NaN,NaN,NO,53,All-net 500F=2000F;5d,13.0
4,ID_R36J4ROT93E9,None,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380122,ID_MGZSA4ICBD9O,Stellaris,K > 24 month,4273.50,19.0,4487.18,1495.73,20.0,NaN,60.0,208.0,80.0,NaN,NaN,NO,54,All-net 500F=2000F;5d,20.0
380123,ID_XGDT520DFBLP,None,K > 24 month,6901.71,41.0,7115.38,2371.79,41.0,7019.0,105.0,257.0,5.0,NaN,NaN,NO,59,"Data: 200 F=100MB,24H",33.0
380124,ID_9RDB792PB5Q4,Mandalore,K > 24 month,NaN,NaN,42.31,14.10,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NO,43,None,NaN
380125,ID_KDTJHH8L8Z13,Luminous,K > 24 month,2307.69,9.0,2264.53,754.70,13.0,7381.0,15.0,NaN,19.0,2.0,NaN,NO,61,"Data:490F=1GB,7d",5.0
380126,ID_2F6Y446GS8T3,None,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1,None,NaN

## Train Data

In [5]:
train_data = db_connection.execute("from train_data").df()
print(train_data.info())
train_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1507834 entries, 0 to 1507833
Data columns (total 19 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   ID                1507834 non-null  object
 1   region            913743 non-null   object
 2   tenure            1507834 non-null  object
 3   Amount            978320 non-null   float64
 4   refill_frequency  978320 non-null   float64
 5   revenue           999713 non-null   float64
 6   arpu_segment      999713 non-null   float64
 7   frequency         999713 non-null   float64
 8   data_volume       766028 non-null   float64
 9   on_net            957192 non-null   float64
 10  Procuct_1         881271 non-null   float64
 11  Procuct_2         604784 non-null   float64
 12  zone1             118986 non-null   float64
 13  zone2             95505 non-null    float64
 14  mrg               1507834 non-null  object
 15  regularity        1507834 non-null  int64
 16  top_pack          876011 non-null   object
 17  freq_top_pack     876011 non-null   float64
 18  Target            1507834 non-null  int64
dtypes: float64(12), int64(2), object(5)
memory usage: 218.6+ MB
None

,ID,region,tenure,Amount,refill_frequency,revenue,arpu_segment,frequency,data_volume,on_net,Procuct_1,Procuct_2,zone1,zone2,mrg,regularity,top_pack,freq_top_pack,Target
0,ID_YEB05X4KUGPQ,None,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,3,None,NaN,0
1,ID_Z9IQ9QH52KVN,Nebula,K > 24 month,4764.96,41.0,4756.84,1585.47,41.0,2.0,626.0,24.0,NaN,NaN,NaN,NO,62,On net 200F=Unlimited _call24H,31.0,0
2,ID_YZSU7B7M35QS,Celestial,K > 24 month,5769.23,22.0,5769.23,1923.08,22.0,28121.0,0.0,NaN,1.0,NaN,NaN,NO,61,None,NaN,0
3,ID_QS4F5LEX29KM,None,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,6,None,NaN,0
4,ID_8IYIC9PFU8U1,Eclipsara,K > 24 month,5341.88,58.0,5636.75,1879.06,60.0,1131.0,546.0,376.0,0.0,NaN,NaN,NO,62,Mixt 250F=Unlimited_call24H,31.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507829,ID_D1MA2025F1U6,None,K > 24 month,7179.49,17.0,6972.22,2323.93,18.0,4269.0,7.0,NaN,11.0,0.0,61.0,NO,41,"Data:490F=1GB,7d",4.0,0
1507830,ID_9H6BGU1FS1CD,Celestial,K > 24 month,854.70,2.0,854.70,285.04,2.0,2276.0,0.0,NaN,NaN,NaN,NaN,NO,36,"Data:1000F=2GB,30d",2.0,0
1507831,ID_QWJPIJ065LA4,Luminous,K > 24 month,1923.08,9.0,2136.75,712.39,10.0,NaN,34.0,74.0,48.0,NaN,NaN,NO,40,All-net 500F=2000F;5d,10.0,0
1507832,ID_B0S6HQUEDWJ7,Astral,K > 24 month,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NO,39,None,NaN,0
1507833,ID_T7DN0N7KLS2R,None,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,1,None,NaN,1

## Sample Submission

In [6]:
sample_submission = db_connection.execute("from sample_submission").df()
print(sample_submission.info())
sample_submission

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380127 entries, 0 to 380126
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      380127 non-null  object
 1   Target  380127 non-null  int64
dtypes: int64(1), object(1)
memory usage: 5.8+ MB
None

                     ID  Target
0       ID_LZ8K373W7EWV       0
1       ID_04KNWHGV5783       0
2       ID_CXS07G6VLB2U       0
3       ID_N3NFJJVHS25K       0
4       ID_R36J4ROT93E9       0
...                 ...     ...
380122  ID_MGZSA4ICBD9O       0
380123  ID_XGDT520DFBLP       0
380124  ID_9RDB792PB5Q4       0
380125  ID_KDTJHH8L8Z13       0
380126  ID_2F6Y446GS8T3       0

[380127 rows x 2 columns]

# Detach Database

In [7]:
db_connection.close()